trigger:
  branches:
    include:
      - main
      - develop
  paths:
    exclude:
      - README.md
      - docs/*

pool:
  vmImage: 'ubuntu-latest'

variables:
  - group: AlexDrikkelek-Variables
  - name: dockerRegistryServiceConnection
    value: 'azure-container-registry'
  - name: containerRegistry
    value: 'alexdrikkelek.azurecr.io'
  - name: frontendImageRepository
    value: 'alexdrikkelek-frontend'
  - name: backendImageRepository
    value: 'alexdrikkelek-backend'
  - name: tag
    value: '$(Build.BuildId)'

stages:
  - stage: Build
    displayName: Build and Push
    jobs:
      - job: BuildBackend
        displayName: Build Backend
        steps:
          - task: Docker@2
            displayName: Build and push backend image
            inputs:
              command: buildAndPush
              repository: $(backendImageRepository)
              dockerfile: backend/Dockerfile
              containerRegistry: $(dockerRegistryServiceConnection)
              tags: |
                $(tag)
                latest

      - job: BuildFrontend
        displayName: Build Frontend
        steps:
          - task: Docker@2
            displayName: Build and push frontend image
            inputs:
              command: buildAndPush
              repository: $(frontendImageRepository)
              dockerfile: frontend/Dockerfile
              containerRegistry: $(dockerRegistryServiceConnection)
              tags: |
                $(tag)
                latest

  - stage: Deploy
    displayName: Deploy to Azure
    dependsOn: Build
    condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
    jobs:
      - deployment: DeployBackend
        displayName: Deploy Backend to App Service
        environment: 'production'
        strategy:
          runOnce:
            deploy:
              steps:
                - task: AzureWebAppContainer@1
                  displayName: Deploy backend container
                  inputs:
                    azureSubscription: 'azure-service-connection'
                    appName: 'alexdrikkelek-backend'
                    containers: $(containerRegistry)/$(backendImageRepository):$(tag)

      - deployment: DeployFrontend
        displayName: Deploy Frontend to App Service
        environment: 'production'
        strategy:
          runOnce:
            deploy:
              steps:
                - task: AzureWebAppContainer@1
                  displayName: Deploy frontend container
                  inputs:
                    azureSubscription: 'azure-service-connection'
                    appName: 'alexdrikkelek-frontend'
                    containers: $(containerRegistry)/$(frontendImageRepository):$(tag)
