trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - packages/frontend/*
      - packages/backend/*
      - azure-pipelines.yml

pool:
  vmImage: 'ubuntu-latest'

variables:
  nodeVersion: '24.x'

stages:
  - stage: Build
    displayName: 'Build and Test'
    jobs:
      - job: BuildBackend
        displayName: 'Build Backend'
        steps:
          - task: NodeTool@0
            inputs:
              versionSpec: $(nodeVersion)
            displayName: 'Install Node.js'

          - script: |
              cd packages/backend
              npm ci
              npm run build
              npm run lint
              npm run test
            displayName: 'Build and Test Backend'

          - task: PublishTestResults@2
            condition: succeededOrFailed()
            inputs:
              testResultsFormat: 'JUnit'
              testResultsFiles: '**/test-results.xml'
              searchFolder: 'packages/backend'

          - task: CopyFiles@2
            inputs:
              SourceFolder: 'packages/backend/dist'
              Contents: '**'
              TargetFolder: '$(Build.ArtifactStagingDirectory)/backend'

          - task: PublishBuildArtifacts@1
            inputs:
              PathtoPublish: '$(Build.ArtifactStagingDirectory)/backend'
              ArtifactName: 'backend'

      - job: BuildFrontend
        displayName: 'Build Frontend'
        steps:
          - task: NodeTool@0
            inputs:
              versionSpec: $(nodeVersion)
            displayName: 'Install Node.js'

          - script: |
              cd packages/frontend
              npm ci
              npm run build
              npm run lint
            displayName: 'Build and Test Frontend'

          - task: CopyFiles@2
            inputs:
              SourceFolder: 'packages/frontend/.next'
              Contents: '**'
              TargetFolder: '$(Build.ArtifactStagingDirectory)/frontend'

          - task: PublishBuildArtifacts@1
            inputs:
              PathtoPublish: '$(Build.ArtifactStagingDirectory)/frontend'
              ArtifactName: 'frontend'

  - stage: Deploy
    displayName: 'Deploy to Azure'
    dependsOn: Build
    condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
    jobs:
      - deployment: DeployBackend
        displayName: 'Deploy Backend to Azure App Service'
        environment: 'production'
        strategy:
          runOnce:
            deploy:
              steps:
                - task: AzureWebApp@1
                  inputs:
                    azureSubscription: 'Azure Service Connection'
                    appType: 'webAppLinux'
                    appName: 'alexdrikkelek-backend'
                    package: '$(Pipeline.Workspace)/backend'
                    runtimeStack: 'NODE|24-lts'

      - deployment: DeployFrontend
        displayName: 'Deploy Frontend to Azure Static Web Apps'
        environment: 'production'
        strategy:
          runOnce:
            deploy:
              steps:
                - task: AzureStaticWebApp@0
                  inputs:
                    app_location: 'packages/frontend'
                    api_location: ''
                    output_location: '.next'
                    azure_static_web_apps_api_token: '$(AZURE_STATIC_WEB_APPS_API_TOKEN)'
